<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete <%= @chapter.title %></title>
  </head>
  <body>
    <h1>Delete <%= @chapter.title %></h1>
    <p>
      Are you sure that you want to delete this chapter?
      <%= form_tag({controller: "chapters", action: "destroy"}, method: "delete") do%>
        <%= submit_tag :"Delete" %>
      <% end %>
    </p>
    <br>
    <%= link_to "Return to #{@chapter.title}", story_chapter_path(@chapter.story, @chapter) %>
    <br>
    <%= link_to "All Chapters", story_chapters_path(@chapter.story) %>
  </body>
</html>
